<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/404.css"></link>
  <title>Document</title>
</head>
<body>

  <form>
    <h3>CRUD Operations with MongoDB</h3>
  </form>

  <form>
    <p>
      <a href="/showClients"><h4>show clients</h4></a>
    </p>
  </form>

  <form>
    <p>
      <a href="/addClient"><h4>add client</h4></a>
    </p>
  </form>

  <form>
    <p>
      <a href="/editClient"><h4>edit client</h4></a>
    </p>
  </form>

  <form>
    <p>
      <a href="/deleteClient"><h4>delete client</h4></a>
    </p>
  </form>

  <div id="d1">
    <p> </p>
  </div>

  <h1>404 - Page not found</h1>
  
</body>
</html>